
.vs/
Release/
x64/
Debug/
Phrazr/Phrazr.vcxproj.user
Phrazrg/Phrazrg.aps
Phrazr/Phrazr.aps
Phrazrg/Phrazrg.vcxproj.user
Phrazr/Release/
Phrazr/x64/
Phrazrg/Release/
Phrazrg/x64/
Phrazr/Debug
Phrazrg/Debug

